<div>
  <div class="table-responsive">
    <table id="dtBasicExample" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%"
      data-pagination="true">
      <thead>
        <tr>
          <th style="width: 20%" class="th-sm sorting">Department ID
          <th style="width: 35%">Name
            <i class="fa fa-chevron-up" *ngIf="sortDirection === 'asc'"></i>
          </th>
          <th style="width: 25%">Description
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of departmentItems; let i = index" (click)="RowSelected(item)">
          <td sortable-column="id">{{item.id}}</td>
          <td sortable-column="name">{{item.name}}</td>
          <td sortable-column="description">{{item.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <div class="well">
      <a class="btn btn-outline-secondary" (click)="OpenAddDialog()">Add</a>
      <a class="btn btn-outline-secondary" (click)="OpenUpdateDialog()">Edit</a>
      <a class="btn btn-outline-secondary" (click)="DeleteOne()">Delete</a>
    </div>
  </div>
</div>
<!-- <script>$(document).ready(function () {
    $('#dtBasicExample').DataTable({
      "ordering": false // false to disable sorting (or any other option)
    });
    $('.dataTables_length').addClass('bs-select');
  });
</script> -->